services:
  app:
    env_file:
      - ./backend/.env          # injected from GitHub Action
    volumes: []       # disable bind mount
    restart: always

  web:
    restart: always

  db:
    restart: always

  redis:
    restart: always