services:
  web:
    restart: always

  app:
    restart: always

  db:
    restart: always

  redis:
    restart: always

  mailpit:
    # you can disable it in prod by using a profile, or just remove mailpit from this file
    profiles: ["dev"]
